@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 100px;
    position: relative;
    font-size: 2rem;
    text-align: center;
    color: #4f4f47;
}

span{
    color: #1ae895;
}


.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-attachment: scroll;
    opacity: 40%;
}

.banner .contentBx{
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .contentBx h2{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.banner .contentBx p{
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    padding-top: 30px;
}

.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:10000;
    border-bottom: 1px solid #c4c3be;
}

.banner header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.banner header ul li{
    display: relative;
    list-style: none;
    display: inline-block;
}

.banner header ul li a{
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: .5s;
}

.banner header ul li a.current, .banner header ul li a:hover{
    font-weight: 500;
    color: #20da86;
    border-bottom: 1px solid #20da86;
}

/* Services */


.services{
    margin: 100px 0;
    width: 100%;
    height: 100vh;
}


.services .serviceText{
    position: relative;
    width: 890px;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 40px;
    color: #86827a;
    font-size: 1rem;
    text-align: center;
}

.contentBx1, .contentBx2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx1 .box, .contentBx2 .box{
    position: relative;
    width: 355px;
    height: 248px;
    border: 1px solid #cbc8c1;
    margin: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contentBx1 .box:hover, .contentBx2 .box:hover{
    border: 2px solid #58b78d;
}

.contentBx1 .box img, .contentBx2 .box img{
    position: absolute;
    max-width: 32px;
    top: 0;
    padding: 30px 0;
}

.contentBx1 .box h3, .contentBx2 .box h3{
    position: relative;
    font-size: 1.5rem;
    color: #4f4f47;
    padding: 30px 0;
}

.contentBx1 .box p, .contentBx2 .box p{
    position: relative;
    font-size: 1rem;
    color: #86827a;
}


/*Team Members*/

section.container .team{
    width: 80%;
    margin: 0 auto;
    padding: 40px 0 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.container .team .team1 img
{
    width: 268px;
    height: 354px;
    background-size: cover;
    background-position: center;
}


section.container .team .hvr{
    height: 354px;
    width: 268px;
    opacity: 0;
    position: absolute;
    top: 80px;
    background-color: #1AE895;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 40px;
}

section.container .team .hvr ul{
    border: 1px solid #fff;
    position: relative;
    top: 100px;
    padding: 10px;
}

section.container .team .hvr ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

section.container .team .hvr ul li img{
    width: 20px;
    height: 20px;
    color: #fff;
}


section.container .team .team2 img{
    width: 268px;
    height: 354px;
}

section.container .team .team3 img{
    width: 268px;
    height: 354px;
}

section.container .team .team4 img{
    width: 268px;
    height: 354px;
}

section.container .team .team1:hover .main, section.container .team .team2:hover .main, section.container .team .team3:hover .main, section.container .team .team4:hover .main{
    opacity: .3;
}

section.container .team .team1:hover .hvr, section.container .team .team2:hover .hvr, section.container .team .team3:hover .hvr, section.container .team .team4:hover .hvr{
    opacity: .8;
    transition: 1s;
}

section.container .team .team1 .text, section.container .team .team2 .text, section.container .team .team3 .text, section.container .team .team4 .text{
    width: 268px;
    height: 70px;
    background-color: #4f4f47;
    opacity: 90%;
    text-align: center;
    position: relative;
    margin: -72px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

/*Portfolio*/
section.portfolio{
    width: 80%;
    margin: 0 auto;
}

section.portfolio ul{
    text-align: center;
}
section.portfolio ul li{
    list-style: none;
    display: inline-block;
    padding: 40px 15px;
}

section.portfolio ul li a{
    text-decoration: none;
    color: #4f4f47;
}

section.portfolio ul li a:hover{
    border-bottom: 1px solid #1AE895;
    padding-bottom: 10px;
    color: #1AE895;
    font-weight: 700;
    transition: .5s;
}

section.portfolio img{
    width: 33%;
    height: 380px;
    object-fit: cover;
}

section.portfolio .button{
    width: 195px;
    height: 50px;
    border: 3px solid #1ae895;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
    background-color: #fff;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.portfolio .button:hover{
    background-color: #58b78d;
    color: #fff;
    border: none;
    transition: 0.4s;
}


/*Our Pricing Plan*/

section.pricing{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

section.pricing .plans{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 100px;
}

section.pricing .plans .p1:hover{
    border: 2px solid #1ae895;
}

section.pricing .plans .p1 .button:hover{
    background-color: #1ae895;
    border: none;
    color: #fff;
}

section.pricing .plans ul li{
    list-style: none;
    padding: 15px 0;
    color: #86827a;
}

section.pricing .p1{
    border: 1px solid #d6d6d6;
    padding: 20px 50px;
}

section.pricing .head{
    padding: 25px;
    font-size: 20px;
    color: #4f4f47;
}

section.pricing .button{
    width: 100px;
    height: 40px;
    border: 1px solid #86827a;
    color: #86827a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    cursor: pointer;
}

/*Footer*/

footer{
    background-color: #0a0a0a;
    width: 100%;
    height: 70px;
}

footer p{
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;   
}