* {
  border: none;
  outline: none;
  list-style: none;
}

.App {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
}

input {
  border: 1px solid rgba(47, 10, 255, 0.2);
  padding: 10px;
  font-size: 1rem;
  width: 50vw;
  margin: 7px 10px;
}

input:focus {
  border: 1px solid royalblue;
}

.add {
  background-color: #282c34;
  font-weight: bold;
  color: #61dafb;
  padding: 15px 40px;
  cursor: pointer;
  margin-left: 10px;
}

.add:hover {
  background-color: #61dafb;
  color: #282c34;
}

.contact-block {
  margin: 0 8%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
